/*  YOU DON'T NEED TO TOUCH THIS FILE */
@import url('https://fonts.googleapis.com/css?family=Dosis:wght@200&family=Roboto:wght@400&display=swap');

body {
  font-family: "Dosis", sans-serif;
  margin: 0;
  padding: 0;
}

a {
  padding: 10px;
  text-decoration: none;
  color: black;
}

.navbar {
  display: flex;
  margin: 15px 30px;
}

.logo {
  max-height: 3rem;
}

#name {
  color: red;
}

.purple {
  color: #750ff7;
}

button:focus {
  outline: none;
}
.banniere p {
  padding: 0;
}
/*ajouter l'opacité sur le texte*/
.disabled{
  opacity: 0.5;
}
/* initialement ajouté dans le mediaQuery min-with 700px mais ne rend pas comme sur la video de la step 3*/
.navbar { 
  display: flex;
  justify-content: space-between;
}
.mainBanniere {
  display: flex;
  flex-direction: column;
  align-items : center;
}

/*MediaQuery responsive*/
@media screen and (min-width: 700px){
  .skills {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
  }
}
@media screen and (max-width: 700px) {
  .desktop {
    display: none;
  }
  .skills {
    display: flex;
    flex-direction: column-reverse;
  }
}